.sayfa{width: 1300px;min-height: 600px;}
.menu{width: 200px;min-height: 600px;background-color:#B39DDB ;float: left;}
.sol{float: left;width: 150px;min-height: 600px;background-color:#EDE7F6;}
.orta{float:left;width: 800px;min-height: 600px;background-color:#EDE7F6;}
.sag{float: right;width: 150px;min-height: 600px;background-color:#EDE7F6;}
.dipnot{clear: both;height: 150px;background-color: #BDBDBD;}
